record(ai, "CstatH-$(SUBS):$(DEV):sRdV") {
  field(DTYP, "S7plc")
  field(INP, "@PLC:WTRVAC/$(OFFS) T=FLOAT")
  field(PREC, "1")
  field(PINI, "YES")
  field(SCAN, "I/O Intr")
  field(EGU, "$(EGU)")
  field(HOPR, "$(LOPR)")
  field(HOPR, "$(HOPR)")
  info(autosaveFields,"LOLO LOW HIHI HIGH")
}
